<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowUserScaling</key>
	<integer>1</integer>
	<key>createOfflineApplicationCache</key>
	<false/>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
	</array>
	<key>documentVersion</key>
	<string>332</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>fonts</key>
	<array/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2014-12-19T20:49:54Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>106</real>
		<key>mainWindowFrame</key>
		<string>369 324 725 697 0 0 1680 1027 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<false/>
		<key>splitHeight</key>
		<real>440</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>5.1.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>mobileStatusBarStyle</key>
	<integer>0</integer>
	<key>oidCounter</key>
	<integer>5</integer>
	<key>resourcesInfo</key>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>expanded</key>
				<true/>
				<key>name</key>
				<string>icone de saving_ giratorio</string>
				<key>oid</key>
				<string>2</string>
				<key>resources</key>
				<array>
					<string>icone de saving_ giratorio.png</string>
				</array>
			</dict>
			<dict>
				<key>expanded</key>
				<true/>
				<key>name</key>
				<string>icone de saving_ folha</string>
				<key>oid</key>
				<string>4</string>
				<key>resources</key>
				<array>
					<string>icone de saving_ folha.png</string>
				</array>
			</dict>
		</array>
		<key>resources</key>
		<array>
			<dict>
				<key>bookmark</key>
				<data>
				Ym9vazQEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAJAMAAAQAAAADAwAAAAEAAAUA
				AAABAQAAVXNlcnMAAAAOAAAAAQEAAHdpbmRzb25mb25z
				ZWNhAAAHAAAAAQEAAERyb3Bib3gAAwAAAAEBAABIVUQA
				FAAAAAEBAABQb250byBGb2NhbCBlIFNhdmluZx4AAAAB
				AQAAaWNvbmUgZGUgc2F2aW5nXyBnaXJhdG9yaW8ucG5n
				AAAYAAAAAQYAABAAAAAgAAAAOAAAAEgAAABUAAAAcAAA
				AAgAAAAEAwAA2WUCAAAAAAAIAAAABAMAAPH8CAAAAAAA
				CAAAAAQDAAC+aAoAAAAAAAgAAAAEAwAAYTYrAAAAAAAI
				AAAABAMAANytLQAAAAAACAAAAAQDAAB0Ly4AAAAAABgA
				AAABBgAAuAAAAMgAAADYAAAA6AAAAPgAAAAIAQAACAAA
				AAAEAABBukTGFwAAABgAAAABAgAAAQAAAAAAAAAPAAAA
				AAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAAD
				AwAA9QEAABEAAAABCQAAZmlsZTovL2xvY2FsaG9zdC8A
				AAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAAAA
				KDoAAAAIAAAAAAQAAEG4symYAAAAJAAAAAEBAAA3N0M2
				QzUwRC0zNEFGLTNFQzktOTdEQi1BNDM0RTQ3NTBERTYY
				AAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEA
				AAABAQAALwAAAAAAAAABBQAA5gAAAAECAAAyODcwNTRj
				YmQyZTAzNjdkZjk1NWY4MDVjNTQ0MTY0OWE0MzQ4ZjVl
				OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAw
				MjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3Jp
				dGU7MDAwMDAwMDE7MDEwMDAwMDQ7MDAwMDAwMDAwMDJl
				MmY3NDsvdXNlcnMvd2luZHNvbmZvbnNlY2EvZHJvcGJv
				eC9odWQvcG9udG8gZm9jYWwgZSBzYXZpbmcvaWNvbmUg
				ZGUgc2F2aW5nXyBnaXJhdG9yaW8ucG5nAAAA2AAAAP7/
				//8BAAAAAAAAABEAAAAEEAAAmAAAAAAAAAAFEAAAGAEA
				AAAAAAAQEAAASAEAAAAAAABAEAAAOAEAAAAAAAACIAAA
				IAIAAAAAAAAFIAAAhAEAAAAAAAAQIAAAoAEAAAAAAAAR
				IAAA1AEAAAAAAAASIAAAtAEAAAAAAAATIAAAxAEAAAAA
				AAAgIAAAAAIAAAAAAAAwIAAALAIAAAAAAAABwAAAaAEA
				AAAAAAARwAAAIAAAAAAAAAASwAAAeAEAAAAAAAAQ0AAA
				BAAAAAAAAACA8AAANAIAAAAAAAA=
				</data>
				<key>fileModificationDate</key>
				<date>2014-12-19T20:46:15Z</date>
				<key>fileSize</key>
				<integer>13319</integer>
				<key>md5</key>
				<string>34B338F2B729474971FCE18FE1951160</string>
				<key>notifyOnBookmarkChange</key>
				<true/>
				<key>originalPath</key>
				<string>/Users/windsonfonseca/Dropbox/HUD/Ponto Focal e Saving/icone de saving_ giratorio.png</string>
				<key>resourceName</key>
				<string>icone de saving_ giratorio.png</string>
				<key>shouldAutoResize</key>
				<true/>
				<key>shouldIncludeInDocumentHeadHTML</key>
				<false/>
				<key>shouldPreload</key>
				<true/>
				<key>shouldRemoveWhenNoLongerReferenced</key>
				<true/>
				<key>type</key>
				<string>FileResource</string>
			</dict>
			<dict>
				<key>bookmark</key>
				<data>
				Ym9vaywEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAHAMAAAQAAAADAwAAAAEAAAUA
				AAABAQAAVXNlcnMAAAAOAAAAAQEAAHdpbmRzb25mb25z
				ZWNhAAAHAAAAAQEAAERyb3Bib3gAAwAAAAEBAABIVUQA
				FAAAAAEBAABQb250byBGb2NhbCBlIFNhdmluZxoAAAAB
				AQAAaWNvbmUgZGUgc2F2aW5nXyBmb2xoYS5wbmcAABgA
				AAABBgAAEAAAACAAAAA4AAAASAAAAFQAAABwAAAACAAA
				AAQDAADZZQIAAAAAAAgAAAAEAwAA8fwIAAAAAAAIAAAA
				BAMAAL5oCgAAAAAACAAAAAQDAABhNisAAAAAAAgAAAAE
				AwAA3K0tAAAAAAAIAAAABAMAAAUwLgAAAAAAGAAAAAEG
				AAC0AAAAxAAAANQAAADkAAAA9AAAAAQBAAAIAAAAAAQA
				AEG6RMaRAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1
				AQAAEQAAAAEJAABmaWxlOi8vbG9jYWxob3N0LwAAAAwA
				AAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAAAoOgAA
				AAgAAAAABAAAQbizKZgAAAAkAAAAAQEAADc3QzZDNTBE
				LTM0QUYtM0VDOS05N0RCLUE0MzRFNDc1MERFNhgAAAAB
				AgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEB
				AAAvAAAAAAAAAAEFAADiAAAAAQIAAGI1NDFkNTU1YjZi
				MmU2ZDAxNzMyNThmM2JlMTcyM2NlNzBjMWUwNmE7MDAw
				MDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtj
				b20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTsw
				MDAwMDAwMTswMTAwMDAwNDswMDAwMDAwMDAwMmUzMDA1
				Oy91c2Vycy93aW5kc29uZm9uc2VjYS9kcm9wYm94L2h1
				ZC9wb250byBmb2NhbCBlIHNhdmluZy9pY29uZSBkZSBz
				YXZpbmdfIGZvbGhhLnBuZwAAANgAAAD+////AQAAAAAA
				AAARAAAABBAAAJQAAAAAAAAABRAAABQBAAAAAAAAEBAA
				AEQBAAAAAAAAQBAAADQBAAAAAAAAAiAAABwCAAAAAAAA
				BSAAAIABAAAAAAAAECAAAJwBAAAAAAAAESAAANABAAAA
				AAAAEiAAALABAAAAAAAAEyAAAMABAAAAAAAAICAAAPwB
				AAAAAAAAMCAAACgCAAAAAAAAAcAAAGQBAAAAAAAAEcAA
				ACAAAAAAAAAAEsAAAHQBAAAAAAAAENAAAAQAAAAAAAAA
				gPAAADACAAAAAAAA
				</data>
				<key>fileModificationDate</key>
				<date>2014-12-19T20:48:17Z</date>
				<key>fileSize</key>
				<integer>3234</integer>
				<key>md5</key>
				<string>7A9E77ACA7ED773DD7B325EA7A43EF21</string>
				<key>notifyOnBookmarkChange</key>
				<true/>
				<key>originalPath</key>
				<string>/Users/windsonfonseca/Dropbox/HUD/Ponto Focal e Saving/icone de saving_ folha.png</string>
				<key>resourceName</key>
				<string>icone de saving_ folha.png</string>
				<key>shouldAutoResize</key>
				<true/>
				<key>shouldIncludeInDocumentHeadHTML</key>
				<false/>
				<key>shouldPreload</key>
				<true/>
				<key>shouldRemoveWhenNoLongerReferenced</key>
				<true/>
				<key>type</key>
				<string>FileResource</string>
			</dict>
		</array>
	</dict>
	<key>sceneScalePercentageSize</key>
	<string>{1, 1}</string>
	<key>sceneSize</key>
	<string>{600, 400}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>0.0</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{725, 440}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>40px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundRepeat</string>
							<key>objectValue</key>
							<string>no-repeat</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>319px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>AutoresizingMask</string>
							<key>objectValue</key>
							<string>36</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>157px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>0.897311</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImageResourceGroupOid</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>286px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>RotationAngleZ</string>
							<key>objectValue</key>
							<string>270deg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>icone de saving_ giratorio</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>409px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>367px</string>
						</dict>
					</array>
					<key>5</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>RotationAngleY</string>
							<key>objectValue</key>
							<string>0deg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>111px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundRepeat</string>
							<key>objectValue</key>
							<string>no-repeat</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>165px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>AutoresizingMask</string>
							<key>objectValue</key>
							<string>36</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>250px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>0.605042</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImageResourceGroupOid</string>
							<key>objectValue</key>
							<string>4</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>100px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>RotationAngleZ</string>
							<key>objectValue</key>
							<string>0deg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>icone de saving_ folha</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>238px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>144px</string>
						</dict>
					</array>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>0.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>RotationAngleZ</string>
									<key>objectValue</key>
									<string>90deg</string>
								</dict>
								<key>identifier</key>
								<string>RotationAngleZ</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>RotationAngleZ</string>
									<key>objectValue</key>
									<string>0deg</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>B0C7BD74-9C53-4155-A2E1-53776973DF70-11922-000048545F05FC41</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>RotationAngleZ</string>
									<key>objectValue</key>
									<string>180deg</string>
								</dict>
								<key>identifier</key>
								<string>RotationAngleZ</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>RotationAngleZ</string>
									<key>objectValue</key>
									<string>90deg</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>7D7ECCDC-5065-4ABE-88EB-7B65C11A19DA-11922-000048716069CEF5</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.53333330154418945</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>RotationAngleZ</string>
									<key>objectValue</key>
									<string>270deg</string>
								</dict>
								<key>identifier</key>
								<string>RotationAngleZ</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>RotationAngleZ</string>
									<key>objectValue</key>
									<string>180deg</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>10D7A185-ECB8-4BF3-995E-A83C3275D3CC-11922-00004873853FAF6F</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.46666669845581055</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>RotationAngleZ</string>
									<key>objectValue</key>
									<string>360deg</string>
								</dict>
								<key>identifier</key>
								<string>RotationAngleZ</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.5333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>RotationAngleZ</string>
									<key>objectValue</key>
									<string>270deg</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>9B1E65B3-B1F6-4426-BD31-FE9B97CF8344-11922-00004876EC9CB9FD</string>
								<key>zIndex</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>RotationAngleZ</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>RotationAngleZ</string>
									<key>objectValue</key>
									<string>360deg</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>1F77AC1F-DB55-4934-AC26-6D07192F6079-11922-0000487C4940A164</string>
								<key>zIndex</key>
								<integer>5</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{0, 0}</string>
			<key>selectedObjects</key>
			<array>
				<string>5</string>
			</array>
			<key>splitHeight</key>
			<real>440</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>shouldScaleSceneHeight</key>
	<false/>
	<key>shouldScaleSceneWidth</key>
	<false/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>showTapHighlight</key>
	<integer>1</integer>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>useInitialScale</key>
	<integer>0</integer>
	<key>useTouchEvents</key>
	<true/>
	<key>videoExportFramerateMp4</key>
	<string>30</string>
	<key>viewportOption</key>
	<integer>0</integer>
	<key>webAppCapable</key>
	<integer>0</integer>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
